## Association_Rule_Practice

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'C:\\Users\\Wonseok Choi\\Desktop\\study\\Python'

In [9]:
insu = pd.read_csv('C:/Users/Wonseok Choi/Desktop/study/Python/INSU.csv')

In [10]:
insu.head()

   indx  cust_id poli_nm   poli_date
0     0        1     암파인  2020-05-14
1     1        1     뼈펙트  2020-05-14
2     2        2     암파인  2020-05-14
3     3        2     멋진종  2020-05-14
4     4        2     용감종  2020-05-14

In [13]:
insu

   cust_id poli_nm   poli_date
0        1     암파인  2020-05-14
1        1     뼈펙트  2020-05-14
2        2     암파인  2020-05-14
3        2     멋진종  2020-05-14
4        2     용감종  2020-05-14
5        3      큐브  2020-05-14
6        3     뼈펙트  2020-05-14
7        4     멋진종  2020-05-14
8        4      큐브  2020-05-14
9        4     암파인  2020-05-14

In [77]:
r_1 = insu.groupby(['cust_id']).apply(lambda x:','.join(x['poli_nm']))
r_2 = pd.DataFrame(r_1).reset_index().rename(columns = {0:'prod_nm'})
r_2

   cust_id      prod_nm
0        1      암파인,뼈펙트
1        2  암파인,멋진종,용감종
2        3       큐브,뼈펙트
3        4   멋진종,큐브,암파인

In [78]:
r_2['prod_nm'] = r_2['prod_nm'].str.split(',').tolist()

In [81]:
type(r_2['prod_nm'][1])

list

In [82]:
dataset = []
for i in range(len(r_2)):
    dataset.append(r_2['prod_nm'][i])
    
dataset

[['암파인', '뼈펙트'], ['암파인', '멋진종', '용감종'], ['큐브', '뼈펙트'], ['멋진종', '큐브', '암파인']]

In [83]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [84]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [85]:
df

     멋진종    뼈펙트    암파인    용감종     큐브
0  False   True   True  False  False
1   True  False   True   True  False
2  False   True  False  False   True
3   True  False   True  False   True

In [91]:
frequent_itemsets = apriori(df,min_support=0.2,use_colnames=True)

In [94]:
frequent_itemsets.sort_values(by='support',ascending=False)

    support         itemsets
2      0.75            (암파인)
0      0.50            (멋진종)
1      0.50            (뼈펙트)
4      0.50             (큐브)
5      0.50       (멋진종, 암파인)
3      0.25            (용감종)
6      0.25       (용감종, 멋진종)
7      0.25        (멋진종, 큐브)
8      0.25       (암파인, 뼈펙트)
9      0.25        (큐브, 뼈펙트)
10     0.25       (용감종, 암파인)
11     0.25        (큐브, 암파인)
12     0.25  (용감종, 멋진종, 암파인)
13     0.25   (멋진종, 큐브, 암파인)